$color-1-dark: #111111;
$color-1: #1e1e1e;
$color-1-light: #3c3c3c;

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: $color-1-dark;
    box-shadow: black 0px -5px 15px;
    z-index: 10;
}