$color-1-dark: #111111;
$color-1: #1e1e1e;
$color-1-light: #3c3c3c;

.con2 {
    width: 100%;
    height: calc(100% + 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 600px;
    width: 500px;
    background-color: $color-1-dark;
    border-radius: 10px;
    border: $color-1 2px solid;
    box-shadow: black 0px 2px 5px;
}

#flashcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: black 0px 7.5px 20px;
    z-index: 4;
}

.sub-card {
    position: absolute;
}

#first {
    z-index: 1;
    transform: rotate(7deg);
}
#second {
    z-index: 2;
    transform: rotate(3deg);
}
#third {
    z-index: 3;
    transform: rotate(-5deg);
}

.swiper {
    width: 456px;
    height: 396px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    border: $color-1 2px solid;
}

img {
    position: absolute;
    width: 456px;
    height: 396px;
    object-fit: cover;
    border-radius: 10px;
    user-select: none;
}

.slides {
    opacity: 0;
    transition: 500ms ease-in-out;
}
.slides.active {
    opacity: 1;
}

.arrow-left {
    transform: rotate(180deg);
}

.arrow-right, .arrow-left {
    fill: white;
    position: relative;
    width: 33.34px;
    height: 59.5px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.arrow-con {
    position: absolute;
    width: 436px;
    height: 396px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.arrow-right.black, .arrow-left.black {
    fill: black;
}

.sub-container {
    width: 456px;
    height: 136px;
    background-color: $color-1-dark;
    border-radius: 10px;
    border: $color-1 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    filter: blur(10px);
    cursor: pointer;
    user-select: none;
}

.name {
    font-weight: 650;
    font-size: xx-large;
}

.family {
    font-size: larger;
}

.animation-card {
    position: absolute;
    z-index: 1;
    box-shadow: none !important;
    transition: 500ms;
    border: none !important;
}

$green: #007300;
$red: #b20000;

#animation-card-container.correct {
    border: $green 2px solid;
}

#animation-card-container.incorrect {
    border: $red 2px solid;
}

.circle-svg {
    position: absolute;
    z-index: 10;
    margin-bottom: 100px;
    opacity: 0;
}

.correct-circle {
    fill: $green;
    width: 257px;
}
.incorrect-circle {
    fill: $red;
    width: 250px;
}

#animation-card-container {
    height: 600px;
    width: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms ease-in-out;
    z-index: 10;
    border-radius: 10px;
    border: $color-1 2px solid;
}

.con3 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 650px;
}

.btn-svg {
    opacity: 1;
    fill: $color-1-light;
    width: 75px;
    fill: white;
}

.incorrect-btn {
    transform: rotate(180deg);
}

.counter {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 12;
    height: 50px;
    width: 80px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anim-sub-container .text {
    cursor: default;
}


@media only screen and (max-height: 800px), only screen and (max-width: 920px) {
    .container {
        height: 500px;
        width: 400px;
    }
    #animation-card-container {
        height: 500px;
        width: 400px;
    }
    .correct-circle {
        width: 205.6px;
    }
    .incorrect-circle {
        width: 200px;
    }

    img {
        width: 370px;
        height: 330px;
    }
    .arrow-con {
        width: 370px;
        height: 330px;
        margin-top: 10px;
    }
    .swiper {
        width: 370px;
        height: 330px;
        margin-top: 10px;
    }
    .sub-container {
        width: 370px;
        height: 130px;
    }
    .name {
        font-size: xx-large;
    }
    .family {
        font-size: larger;
    }
    .arrow-right, .arrow-left {
        width: 47px;
        height: 58px;
        margin-inline: 10px;
    }
    .btn-svg {
        width: 55px;
    }
    .con3 {
        gap: 475px;
    }
}
@media only screen and (max-height: 740px), only screen and (max-width: 600px) {
    .container {
        height: 400px;
        width: 300px;
    }
    #animation-card-container {
        height: 400px;
        width: 300px;
    }
    .correct-circle {
        width: 154.2px;
    }
    .incorrect-circle {
        width: 150px;
    }

    img {
        width: 273.6px;
        height: 264px;
    }
    .arrow-con {
        width: 273.6px;
        height: 264px;
        margin-top: 10px;
    }
    .swiper {
        width: 273.6px;
        height: 264px;
        margin-top: 10px;
    }
    .sub-container {
        width: 273.6px;
        height: 88px;
    }
    .name {
        font-size: x-large;
    }
    .family {
        font-size: large;
    }
    .arrow-right, .arrow-left {
        width: 22.23px;
        height: 39.67px;
        margin-inline: 10px;
    }
    .btn-svg {
        width: 40px;
    }
    .con3 {
        gap: 400px;
    }
}

@media only screen and (max-width: 380px), only screen and (max-height: 570px) {
    .container {
        height: 340px;
        width: 240px;
    }
    #animation-card-container {
        height: 340px;
        width: 240px;
    }
    .correct-circle {
        width: 122px;
    }
    .incorrect-circle {
        width: 120px;
    }

    img {
        width: 220px;
        height: 220px;
    }
    .arrow-con {
        width: 220px;
        height: 220px;
        margin-top: 7.5px;
    }
    .swiper {
        width: 220px;
        height: 220px;
        margin-top: 7.5px;
    }
    .sub-container {
        width: 220px;
        height: 80px;
    }
    .name {
        font-size: large;
    }
    .family {
        font-size: medium;
    }
    #flashcard {
        gap: 15px;
    }
    .con2 {
        height: calc(100% + 27.5px);
    }
}

.supportBtn {
    display: none;
    width: 150px;
    height: 40px;
    background-color: transparent;
    z-index: 100;
    border-radius: 10px;
    position: absolute;
    right: 50%;
    transform: translate(50%);
    margin-top: 12.5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .con3 {
        gap: 200px;
        align-items: flex-start;
        height: 70px;
        z-index: 10 !important;
    }
    .supportBtn {
        display: block;
    }
}

@media only screen and (max-width: 600px) and (max-height: 800px) {
    .btn-svg {
        width: 30px;
        margin-top: 15px;
    }
    .supportBtn {
        height: 60px;
    }
}
@media only screen and (max-width: 600px) and (max-height: 700px) {
    .btn-svg {
        width: 25px;
        margin-top: 8px;
    }
}

@media only screen and (max-height: 700px) {
    .counter {
        height: 30px;
        width: 60px;
        font-size: 20px;
    }
}