@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Montserrat,
    density: 0,
  ));
}

:root {
    @include mat.checkbox-overrides((
      selected-icon-color: white,
      selected-hover-icon-color: white,
      unselected-hover-icon-color: white,
      selected-pressed-icon-color: white,
      disabled-selected-icon-color: white,
      disabled-unselected-icon-color: white,
      selected-focus-icon-color: white,
      unselected-focus-icon-color: white,
      unselected-icon-color: white,
      selected-focus-state-layer-color: white,
      unselected-focus-state-layer-color: white,
      selected-pressed-state-layer-color: white,
      unselected-pressed-state-layer-color: white,
      unselected-hover-state-layer-color: white,
  
      selected-checkmark-color: black,
      disabled-selected-checkmark-color: black,
    ));

    @include mat.button-overrides((
      protected-container-color: rgba(255, 255, 255, 0.05),
      protected-label-text-color: white,
      protected-state-layer-color: white,
      protected-ripple-color: rgba(255, 255, 255, 0.1),
    ));
  }

$color-1-dark: #111111;
$color-1: #1e1e1e;
$color-1-light: #3c3c3c;

html, body {
    height: 100%;
    width: 100%;
    background-color: $color-1;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    overflow: hidden;
}

p {
    margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $color-1-light;
  border-radius: 100vw;
  border: $color-1 1px solid;
}
::-webkit-scrollbar-track {
  background-color: $color-1;
  border-radius: 100vw;
}